#table-editable-rows_wrapper > .row{
        width:100%!important;
        text-align: center;
}
.width{
    width:99%!important;
}
.page-size-table .bootstrap-table .fixed-table-body{
    height:auto!important;
}
.
.form-control{
height:36px!important;

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background-color: transparent!important;
    background:transparent!important;
}

.form-control{   display: block;
    width: 100% !important;
    /*padding: .58rem .9rem !important;*/
    font-size: .92rem !important;
    font-weight: 400 !important;
    line-height: 1.215 !important;
    color: #585e61 !important;
    background-color: transparent !important;
    background-clip: padding-box !important;
    border: 1px solid #dee4e8 !important;
    border-radius: 0 !important;

    transition: background .2s,border .2s,color .2s !important;
    border-width: 0 !important;
    border-bottom: 2px solid #dee4e8 !important;
    min-height:41px !important;
}



.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    /* padding-bottom: 10px; */
    margin-bottom: 1em!important;
}